<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>plugins.test</PluginId>
  <DisplayName>测试</DisplayName>
  <ClassFullName>plugins.plugintest,plugins.test</ClassFullName>
  <Description>测试</Description>
  <PluginDirectory>C:\Users\imzhe\source\repos\ef+dapper\Netcore学习2.2\plugins\test</PluginDirectory>
  <Type>7</Type>
  <Author>Super</Author>
  <Version>1.0</Version>
  <AddedTime>2019-10-12T14:41:55.5437223+08:00</AddedTime>
  <Enable>true</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>