<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>plugins.test</PluginId>
  <DisplayName>测试</DisplayName>
  <ClassFullName>plugins.plugintest,plugins.test</ClassFullName>
  <Description>测试</Description>
  <Type>7</Type>
  <Author>Super</Author>
  <Version>1.0</Version>
  <MinSuperVersion>1.0.0</MinSuperVersion>
  <MaxSuperVersion></MaxSuperVersion>
  <Enable>1</Enable>
</PluginInfo>